@use "../abstract/" as *;
@use "../base/" as *;
@use "../component/" as *;
@use "../layout/" as *;
@use "../vendor/" as *;


.banner{
    &__cards{
        img{
            width: 100%;
        }
    }
}
.services{
    &__wrapper{
        padding: 0 10rem;
        background-color: $clr-primary;
        @include grid(4);
        gap: 5rem;
        @include mediaQuery{
            @include grid(1);
            padding: 2rem;
            gap: 1rem;
        }
    }
    &__details{
        text-align: center;
        padding: 7rem 0;
        h3{
            color: $clr-light;
            padding-bottom: 3rem;
            border-bottom: 1px solid $clr-lightgray;
            margin-bottom: 3rem;
        }
        i{
            font-size: 4rem;
            color: $clr-light;
            padding-bottom: 3rem;
        }
        p{
            color: $clr-light;
            font-size: 14px;
        }
        button{
            font-size: 18px;
            padding: 16px 32px;
            background-color: $clr-secondary;
            color: $clr-light;
            margin-top: 3rem;
            font-weight: 500;
            border: none;
        }
    }
}

.slider{
    position: relative;
    color: $clr-light;
    
    &__wrapper{
        margin: 3rem 0;
        padding: 7rem 10rem;
        background-color: $clr-secondary;
        @include mediaQuery{
            padding: 2rem;
        }
    }
    &__title{
        h2{
            color: $clr-light;
            padding-bottom: 1rem;
            border-bottom: 0.5px solid $clr-light;
            margin-bottom: 5rem;
        }
    }
    &__cards{
        p{
            color: $clr-light;
            padding-top: 3rem;
        }
    }
}

.info{
    &__wrapper{
        background-color: $clr-semilight;
        padding: 10rem;
        @include flex;
        gap: 5rem;
        @include mediaQuery{
            @include grid(1);
            padding: 4rem;
        }
    }
    &__left{
        max-width: 50rem;
        h2{
            color: $clr-lightgray;
            border-bottom: 1px solid $clr-lightgray;
            padding-bottom: 0.5rem;
            margin-bottom: 6rem;
        }
        p{
            font-size: 14px;
            color: $clr-lightgray;
            padding-bottom: 3rem;
        }
    }
    &__borderb{
        border-bottom: 1px solid $clr-lightgray;
        padding-bottom: 2rem;
        margin-bottom: 3rem;
        color: $clr-lightgray;
    }

    &__right{
        h2{
            color: $clr-lightgray;
            border-bottom: 1px solid $clr-lightgray;
            padding-bottom: 0.5rem;
            margin-bottom: 4rem;
        }
    }

    &__noborder{
        padding-bottom: 2rem;
        color: $clr-lightgray;
    } 
   
    &__borderred{
        border-top: 1px solid $clr-lightgray;
        border-bottom: 1px solid $clr-lightgray;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 3rem;
        color: $clr-secondary;
        font-size: 13px;
    }
}

.cta{
    &__wrapper{
        background-color: $clr-primary;
        padding: 10rem;
        margin-top: 3rem;
        p{
            font-size: 126px;
            color: $clr-light;
            @include mediaQuery{
                font-size: 50px;
            }
        }

        @include mediaQuery{
            padding-left: 2rem;
            padding-right: 2rem;
            justify-content: center;
        }
    }
    &__button{
        button{
            background-color: $clr-secondary;
            border: none;
            color: $clr-light;
            padding: 26px 35px;
            font-size: 20px;
            margin-right: 3rem;
            @include mediaQuery{
                background-color: $clr-secondary;
                border: none;
                color: $clr-light;
                padding: 20px 30px;
                font-size: 15px;
                margin-right: 3rem;
            }
        }
        i{
            font-size: 3.5rem;
            align-self: center;
            color: $clr-light;
        }
    }
}

.footer{
    &__wrapper{
        margin-top: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 10rem;
        @include flex(space-between);
        @include mediaQuery{
            padding-left: 1rem;
            @include grid(1);
        }
    }
    &__icons{
        ul{
            @include flex;
            gap: 0.5rem;
            color: $clr-lightgray;
            padding-bottom: 2rem;
            font-size: 13px;
            i{
                font-size: 0.5rem;
                opacity: 0.5;
                align-items: center;
                color: $clr-lightgray;
            }
        }
        &__ul{
            li{
                i{
                    font-size: 2rem;
                    border: 1px solid $clr-light;
                    border-radius: 50%;
                    padding: 1rem;
                    color: $clr-light;
                
                }
            }
        }
    }
    &__address{
        ul{
            padding-bottom: 3rem;
            color: $clr-lightgray;
            font-size: 13px;
        }
    }
    &__map{
        iframe{
            height: 20rem;
            @include mediaQuery{
                width: 20rem;
                justify-self: center;
            }
        }
    }
}